
@import 'variables';
@import 'nav';
@import 'hero';
@import 'skills';
@import 'projects';
@import 'footer';

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: $typography;
}

body {
    background-color: $primary-black-2;
    color: $primary-white;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    list-style: none;
}