@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Play:wght@400;700&display=swap");
.header {
  font-family: "Play", sans-serif;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.header__logo {
  width: 30px;
  height: 30px;
}
.header__sections {
  margin: auto;
}
.header__links button {
  background-color: #0c0c0c;
  border: none;
}
.header__sections ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.header__sections li:hover {
  color: #9336B4;
  font-weight: 400;
  transition: color ease 300ms;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  padding: 2em 0;
  background: url(../imagenes/fondo_bw.png) no-repeat center;
  background-size: contain;
}
.hero__name {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.hero__name h3:nth-child(2) {
  color: #9336B4;
  text-transform: uppercase;
}
.hero__position {
  font-family: "Play", sans-serif;
}
.hero__article {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}
.hero__article h1 {
  font-weight: 600;
  font-size: 32px;
}
.hero__photo {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 20%;
  object-fit: cover;
  margin: auto;
}
.hero__stacks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1.5rem;
  text-align: center;
}
.hero__stack {
  gap: 0.5rem;
  width: 5rem;
  padding: 1rem;
  align-self: center;
  background-color: #010101;
  border-radius: 15px;
  border: 1px solid white;
}
.hero__about {
  background-color: #010101;
  border: 1px solid white;
  border-radius: 30px;
  margin: 8rem 3rem 0 3rem;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.hero__about img {
  width: 300px;
  height: auto;
}
.hero__about p {
  margin: auto;
}

@media (max-width: 846px) {
  .hero__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  .hero__about img {
    margin: auto;
  }
}
.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 270px 0;
}
.skills__text {
  width: 50%;
  padding: 3rem;
}
.skills__text h4 {
  font-family: "Play", sans-serif;
  background-color: #010101;
  border-radius: 15px;
  border: 1px solid white;
  color: #9336B4;
  width: fit-content;
  padding: 0.4rem 2rem;
}
.skills__text h2 {
  font-family: "Play", sans-serif;
  font-weight: 600;
  font-size: 40px;
  padding: 1rem 0;
}
.skills__text p {
  padding: 1rem 0;
}
.skills__text span {
  padding: 1rem 0;
}
.skills__text a {
  color: #9336B4;
  font-weight: 600;
}
.skills__stack {
  width: 50%;
  padding: 3rem 0;
  display: grid;
  gap: 0.5rem;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(3, 80px);
  grid-template-areas: ". . git . ." ". html js css ." "java spring sass hibernate mysql";
}
.skills__stack img {
  border-radius: 15px;
  background-color: #9336B4;
  width: 80px;
  border: 1px solid white;
  padding: 0.5rem;
  height: auto;
}
.skills__stack svg {
  border-radius: 15px;
  background-color: #9336B4;
  width: 80px;
  border: 1px solid white;
  padding: 0.5rem;
  height: auto;
}
.skills__stack-html {
  grid-area: html;
}
.skills__stack-css {
  grid-area: css;
}
.skills__stack-sass {
  grid-area: sass;
}
.skills__stack-java {
  grid-area: java;
}
.skills__stack-spring {
  grid-area: spring;
}
.skills__stack-hibernate {
  grid-area: hibernate;
}
.skills__stack-mysql {
  grid-area: mysql;
}
.skills__stack-git {
  grid-area: git;
}
.skills__stack-js {
  grid-area: js;
}

@media (max-width: 920px) {
  .skills {
    display: flex;
    flex-direction: column;
  }
  .skills__text {
    width: 100%;
    text-align: center;
  }
  .skills__text h4 {
    margin: auto;
  }
  .skills__stack {
    width: 100%;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
}
.projects__title {
  text-align: center;
}
.projects__title h4 {
  font-family: "Play", sans-serif;
  background-color: #010101;
  border-radius: 15px;
  border: 1px solid white;
  color: #9336B4;
  width: fit-content;
  padding: 0.4rem 2rem;
  margin: auto;
}
.projects__title h2 {
  font-family: "Play", sans-serif;
  font-weight: 600;
  font-size: 32px;
  padding: 1rem 0 0 0;
  margin: auto;
}
.projects__nav {
  margin: auto;
  display: flex;
  flex: row;
  gap: 2rem;
}
.projects__nav a:hover {
  color: #9336B4;
  font-weight: 600;
  transition: color ease 400ms;
}
.projects__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.projects__card {
  border: 1px solid white;
  position: relative;
  border-radius: 30px;
  width: 350px;
  height: 420px;
}
.projects__card-text {
  background-color: #010101;
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  padding: 2rem;
  font-size: 14px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: all ease 0.3s;
  width: 350px;
  height: 420px;
}
.projects__card-text:hover {
  opacity: 1;
  transition: 400ms;
}
.projects__card-text .projects__card-links {
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}
.projects__card-text .projects__card-links svg {
  width: 40px;
  height: 40px;
}
.projects__card-text h3 {
  font-family: "Play", sans-serif;
  color: #9336B4;
}
.projects__card-text span {
  font-size: 13px;
  color: grey;
}
.projects img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 6rem 0 4rem 0;
  background: url(../imagenes/fondo_bw.png) no-repeat bottom;
  background-size: contain;
}
.footer img {
  margin: auto;
  width: 30px;
  height: 30px;
}
.footer span {
  margin: auto;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "IBM Plex Mono", monospace;
}

body {
  background-color: #0c0c0c;
  color: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

/*# sourceMappingURL=styles.css.map */
