
.card {
    background-color: $card-background-color;
    border: 1px solid $card-border-color;
    @include default-font;
    @include border-radius(10px);
    @include title(true);

    .success {
        background-color: rgb(146, 203, 31);
    }

    &__body {
        padding: $card-padding;
    }
    
    &__header {
        padding: $card-padding;
        border-bottom: 1px solid $card-border-color;
    }
}