
.projects {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;

    &__title {
        text-align: center;
    }

    &__title h4 {
        font-family: $typography;
        background-color: $primary-black-1;
        border-radius: $border-radius-hability;
        border: $border-hability;
        color: $primary-purple;

        width: fit-content;
        padding: 0.4rem 2rem;
        margin: auto;
    }

    &__title h2 {
        font-family: $typography-secondary;
        font-weight: $typography-semibold;
        font-size: $font-size-medium;
        padding: 1rem 0 0 0;
        margin: auto;
    }

    &__nav {
        margin: auto;
        display: flex;
        flex: row;
        gap: 2rem;
    }

    &__nav a:hover {
        color: $primary-purple;
        font-weight: $typography-semibold;
        transition: color ease 400ms;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &__card {
        border: $border-hability;

        position: relative;
        border-radius: 30px;
        width: 350px;
        height: 420px;
    }

    &__card-text {
        background-color: $primary-black-1;
        border: $border-hability;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        border-radius: 30px;
        padding: 2rem;
        font-size: 14px;
        opacity: 0;

        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        transition: all ease .3s;

        width: 350px;
        height: 420px;

        &:hover {
            opacity: 1;
            transition: 400ms
        }

        .projects__card-links {
            margin: auto;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            justify-content: center;
        }

        .projects__card-links svg {
            width: 40px;
            height: 40px;
        }
    }

    &__card-text h3 {
        font-family: $typography;
        color: $primary-purple;
    }

    &__card-text h5 {
        display: inline-block;
        width: max-content;
        padding: 0.2rem 1rem 0.2rem 1rem;
        font-family: $typography;

        color: $primary-white;
        background-color: $primary-purple;
        border-radius: $border-radius-hability;
        border: $border-hability;
    }

    &__card-text span {
        font-size: 13px;
        color: grey;
    }

    img {
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}